<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{#if pageId}}
        <link rel="stylesheet" href="/css/{{pageId}}.css">
    {{/if}}
</head>
<body class="{{pageId}}">
    {{{body}}}
</body>
</html>
